	
	<div class="main_wrap">
		<!--Preloader div -->
		<div class="blank">
			<span class="loader"><span class="loader-inner"></span></span>
		</div>		
        <!--End Preloader div-->


		
		<!--Header -->	
		<div id="header">		
			<header >
				<a class="cd-brand" href="#home-content"><img src="img/logo.png" style="width:185px;padding-bottom:10px" alt="brand name"></a>
			</header>	

		</div>
		<!--End Header -->	

		<!-- Header navigation -->	
		<nav>
			<div id="nav">
				<div class="header-inner">
					<!-- <a href="#home-content" class="nav-logo hidden-con"></a> -->
					<div class="close"></div>
					<div class="menunav-container">
						<ul class="menu" id="menu-main-nav">
							<li><a href="#home-content">Home</span></a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#team">Team</a></li>
							
							<li><a href="#news">News</a></li>
							
							<li><a href="#contact-adderss">Contact</a></li>
						</ul>
					</div>		
				</div>
			</div>
		</nav>
		<!-- End Header navigation -->	
		
		<!-- Header -->	
		<div id="header" class="">
			<div class="header-inner">
				<!-- <a href="#home-content" class="nav-logo"></a> -->
				<div class="navicon"></div>
			</div>
		</div>
		<!-- End Header -->		
		
		
		
		<!--Home slider-->
		<div id="home-content">              
			<div id="content-top" class="slider">
			
				<!-- Slider nav -->
				<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
				<!-- End Slider nav -->
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
					
						<!--Slider 1 -->
						<div class="swiper-slide slide-1">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">								
								<h1>Leaders<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p>100% of teams receive leadership and life skills training.</p>
								</div>
								<a href="#about" class="slider-teaser-link">About us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 1 -->
						
						<!--Slider 2 -->
						<div class="swiper-slide slide-2">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Champions<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p> 98% college matriculation rate
</p>
								</div>
								<a href="#facts-section" class="slider-teaser-link">View Our Facts</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 2 -->
						
						<!--Slider 3 -->
						<div class="swiper-slide slide-3">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Student<br> athletes</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>100% high school graduation rate, since 2005.</p>
								</div>
								<a href="#contact-adderss" class="slider-teaser-link">Contact us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!-- End Slider 3 -->		
						
						<!--Slider 5 -->
						<div class="swiper-slide slide-5">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Support<br>Us</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Learn more about upcoming events and how you can impact the lives of under-served NYC student-athletes .</p>
								</div>
								<a href="#process" class="slider-teaser-link">Get Involved</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png"/>
									</a>
								</div>
							</div>
						</div>
						<!--End Slider 5 -->
						
					</div><!--End Swipper Wrapper -->					
				</div><!-- swiper-container -->
				
				<!-- Swipper pagination -->
				<div class="pagination"></div>
				<!-- End Swipper pagination -->
			</div>		
        </div>
		<!--End Home slider-->
       
		<!--main wrapper-->
        <div class="site-wrapper">
			
            <!-- About Us -->
            <section id="about">
				<div class="flat container content">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>New Heights Youth, Inc.</h2>		
							<hr>	
							<p class="lead"> A Non-Profit Sports-Based Youth Development And Education Organization <br>Based In NYC</p>
						</div>						
					</div>
					<!-- About intro -->
					<article id="about-intro" class="text-center">		
						<div class="row">
							<div class="col-md-4">
								<div class="clearfix">
									<a href="#">
										<img src="/nh/Court.png" style="width:100px"/>
									</a>								  
									<div class="ab-heading">
										<h4>Court</h4>
										<p> New Heights uses basketball as a “hook” to engage young men and women, help them access high quality educational opportunities and instill in them the values and life skills that will prepare them for success in life beyond sports. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="clearfix">
								  <a href="#">
									<img src="/nh/Community.png" style="width:100px"/>
								  </a>
								  <div class="ab-heading">
										<h4>Community</h4>
										<p> We create opportunities and provide support for promising youth to fulfill their
potential in the classroom, on the court and in the community.
. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="clearfix">
								  <a href="#">
									<!-- <i><span class="fa fa-book"></span></i> -->
									<img src="/nh/classroom-color.png" style="width:100px"/>
								  </a>
								  <div class="ab-heading">
										<h4>Classroom</h4>
										<p> Our mission is to educate and empower promising inner-city youth to be leaders, champions and student-athletes by developing the skills necessary for success in high school, college and life. </p>
									</div>
								</div>
							</div>							
						</div>
					</article>
					<!-- End About Us intro container -->
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#sp_block"><span class="section-arrow"></span></a>
                </div>
			</section>
            <!--End About-->
            <!--newsfun -->
			<section id="news">
				<div class="container">
                    <div class="col-lg-12 text-center ">
                        <h2>Latest News & Fun</h2>
						<hr>	
                        <p class="lead"> Check out what’s going on at New Heights and how you can get involved </p>
                    </div>
					
					<div class="row">
						<div class="col-md-4 col-sm-4 ">
							<article class="news-wrapper clearfix">
								<img src="img/news/1.jpg" alt="" class="bg_hover_image"/>
								<a href="http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AhYJsrNF3CJVdGxsaHpQX3RxN0ZyZzRTY1l5M3kyTUE#gid&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650" target="_blank">
									<div class="date">01/12/2015</div>
									<h4>New Heights is celebrating our 10th year anniversary!</h4>
									<p>Aenean in magna aliquet maecenas ligula urna placerat in lectus pulvinar pellentesque turpis eleifend quam eget rutrum massa.Maecenas... </p>
									<p class="news-link"><strong>Read more</strong></p>
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/2.jpg" alt="" class="bg_hover_image"/>
								<a href="News-single.html">
									<div class="date">02/10/2015</div>
									<h4>MADNESS 2015</h4>
									<p>The year Madness 2015 is coming up...</p>
									<p class="news-link"><strong>Read more</strong></p>
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/3.jpg" alt="" class="bg_hover_image"/>
								<a href="News-single.html">
									<div class="date">See more...</div>
									<h4>New & Updates</h4>
									<div class="text-center">	
									<span class="icon icon-next"></span>
									</div>
								</a>
							</article>
						</div>
					</div>
						
					<div class="text-center">	
						<a href="news-list.html" class="btn btn-default margintop">Read all news</a>	
					</div>
				</div>	

				
			</section>
            <!-- End News & fun -->
			
		
			
			<!-- Springspray features -->
			<section id="sp_block">
				<div class="container">
	
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Our Model</h2>		
							<hr>	
							<p class="lead"> <b>College Bound </b><br>offers comprehensive middle school and high school educational programming and support services <br>to approximately 200 students annually and takes place daily<br> during after-school and Saturday hours and throughout the day during the summer.</p>
						</div>						
					</div>
					<div class="row sp_block_wrap">
						<div class="col firstcol col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 2</h5> -->
										<img src="/img/Clipboard.png"style="width:35%"/>	
										<h4>Basketball<br>& Leadership Development</h4>
										<p> New Heights fields 17 teams that compete locally and regionally, and in some cases nationally. <br>Basketball serves as a hook that engages our participants in our academic programs. In addition, the basketball court is a “classroom” where leadership and life skills are developed.</p>
										<!-- <br>
										<br>
										<br> -->
									  </div>
								</div>
							</div>	
						</div>
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 3</h5> -->
										<img src="/img/Classroom.png"style="width:35%"/>	
										<h4>Academic <br>Support</h4>
										<p>New Heights runs a comprehensive academic support program for our student-athletes. <br>Each participant in need receives support to stay on track for promotion, ultimately leading to high school and college matriculation.</p>
										<br>
									  </div>
								</div>
							</div>	
						</div>
						<div class="clearfix">
						</div>
						<div class="col firstcol col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 4</h5> -->
										<img src="/img/Leaders.png"style="width:35%"/>
										<h4>High School<br>Assist</h4>
										<p>Helps our fourth through eighth grade student-athletes succeed in elementary/middle school and leverage that success to gain admission to excellent college preparatory high schools. <br> Services include: test preparation, high school visits, financial aid workshops, and individualized counseling to support students and families.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 3</h5> -->
										<img src="/img/Diploma.png"style="width:35%"/>
										<h4>College <br>Assist</h4>
										<p>Provides our high school student-athletes with the individual support necessary to gain admission to top colleges and universities.<br>Services include SAT/ACT prep, school visits, financial aid workshops, life skills development and NCAA recruiting guidance.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="clearfix">
						</div>
						<div class="col firstcol col50 col_br_100">

							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 4</h5> -->
										<img src="/img/Jersey.png"style="width:35%"/>
										<h4>Student-Athlete<br>Summer Academy</h4>
										<p>Develops our students’ academic, athletic and leadership skills through a full-day, six-week program for rising fifth-ninth graders. <br>Hosted at the Loyola School in Manhattan, the academic programming is focused on improving students’ Math, Language Arts and Leadership skills, while promoting the New Heights values of Teamwork, Respect, Excellent and Effort (TREE).</p>
										<br>

									  </div>								  
								</div>
							</div>	
						</div>
						
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								
							</div>	
						</div>
					</div>
	
				</div>
				<div class="section-scroll">
                    <a class="next-section" href="#team"><span class="section-arrow"></span></a>
                </div>
			</section>
			<!-- End Springspray features -->
			
	
			
            <!-- Number section -->
            <section id="facts-section" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
				<div class="row text-center position-rel">
					<div class="parallax-overlay-bg"></div>
					<div class="facts-section clearfix">
						<div class="container"> 
							<div class="col-md-10 col-md-offset-1">
								<div class="text-center">			
									<h2 class="white">Our Scoreboard</h2>									
									<!-- <p class="lead">Our scoreboard.</p> -->
								</div>
								<!-- facts -->
								<div id="facts">
									<!-- facts row -->
									<div class="row">
										<div class="numbers">                           
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span class="increment">100%</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"> High school graduation rate</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
											</div>
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span  class="increment">302</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"> placed in college prep high schools</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
											</div>
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span  class="increment">98%</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"> College matriculation rate</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
												</div>
						<div class="row">
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">$50M</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> in scholarship/financial aid awarded to student-athletes
</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> High school graduation rate</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">245</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> New Heights graduates have matriculated to college - 98%</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		</div> 
		<div class="row">
			<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> of Summer Academy team leaders were NH alums</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text">receive leadership and life skills training</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> of teams participate in community service</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">75%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"> college graduation rate, within 5 years
</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">60%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text">  will be first generation college graduates</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		</div>                                          
	  </div>
	</div>
									<!-- End facts row -->
								</div>
								<!-- End facts -->
							</div>
						</div>
					</div>
				</div>
            </section>
        	<!-- End Number section -->

        			<!-- Team -->
            <section id="team">
            	<div class="container">
                	<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Our Team</h2>		
							<hr>	
							<p class="lead">Meet our directors and staff</p>
						</div>						
					</div>
					<!-- Team block -->	
					<article class="ab">		
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team01" class="teampopup">
										<!-- <img alt="" src="img/team/01.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Nick Blatchford<br><small>New Heights Founder and CEO, Five-Star Basketball</small></h4>		
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div> -->
										<!-- <div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>			 -->					
									<!-- </div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team02" class="teampopup">
										<!-- <img alt="" src="img/team/02.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Kieran Goodwin<br><small>Co-Founder and Portfolio Manager, Panning Capital</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team03" class="teampopup">
										<!-- <img alt="" src="img/team/03.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Rocky Kurita<br><small>Senior Vice President, D.E. Shaw</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team04" class="teampopup">
										<!-- <img alt="" src="img/team/04.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Nina Lesavoy<br><small>Managing Director, Avec Capital</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
							
						</div>
						<div class="text-center">	
						<a href="news-list.html" class="btn btn-default margintop" style="border:solid 1px">See All</a>	
					</div>
					</article>		
					<!-- End Team block -->		
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#services"><span class="section-arrow"></span></a>
                </div>
				<!-- <div id="team01" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/01.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team02" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/02.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team03" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/03.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team04" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/04.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div> -->
			</section>
            <!-- End Team -->
			
			
			<!-- Process block -->
			<section id="process">
                <div class="container">					
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="white">Get Involved</h2>		
							<p class="lead white">Let's work together and create bigger impact.</p>
						</div>	
					</div>	
				</div>			
						
				<section class="grid ">
					<div class="split-section-content service-grid clearfix">
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-settings"></span>
									</div>
									<h4 class="service-title">Share</h4>
								</div>
								<div class="service-descr">
								<span class="fa-stack fa-4x">
						  <i class="fa fa-square-o fa-stack-2x"></i>
						  <i class="fa fa-facebook fa-stack-1x"></i>
						</span>
									<span class="fa-stack fa-4x">
							  <i class="fa fa-square-o fa-stack-2x"></i>
							  <i class="fa fa-twitter fa-stack-1x"></i>
							</span>									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-brush"></span>
									</div>
									<h4 class="service-title">Enroll</h4>
								</div>
								<div class="service-descr">
									 New Heights attracts student-athletes through multiple channels, including Saturday Skills; our website; and parent, coach and school referrals. New Heights aims to enroll student-athletes in the fifth through eighth grades and to continue to serve them throughout middle and high school. For information about applying to our programs please contact <a href="mailto:rrosa@newheightsnyc.org">Rock Rosa	</a>								
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-heart"></span>
									</div>
									<h4 class="service-title">Volunteer</h4>
								</div>
								<div class="service-descr">
									 New Heights volunteers have a tremendous impact on our program and the lives of our student-athletes.  Volunteer opportunities include: Coaching Basketball, Tutoring, Planning and promoting events 									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->


					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-rocket"></span>
									</div>
									<h4 class="service-title">Donate</h4>
								</div>
								<div class="service-descr">
									<ul>
									<li><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.usaepay.com%2Finterface%2Fepayform%2F%3FUMkey%3DD60DNzQCOl30P00VU3hnx0H82R8BYa8N%26UMcommand%3Dsale%26UMinvoice%3D%255Binvoice%255D%26UMmd5hash%3D%255Bhash%255D%26x%3D143%26y%3D41&sa=D&sntz=1&usg=AFQjCNEvhIctNix93-uRV7RSt10LkpICMg"><h5 style="color:white">Make a secured online donation</h5></a> </li>
									<li><h5 style="color:white">Donate by Mail:</h5>
										New Heights Youth, Inc.<br>
										2576 Broadway, PMB 213<br>
										New York, NY 10025</li>
									<li><h5 style="color:white">Make a stock donation:</h5>
										Call: 212.426.4667 </li>
										</ul>
									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					</div>
				</section>

					<!-- Video-block -->
            <section id="section-separator-video">
				<!-- <div id="iconsholder">
					<div class="icons">						
						<div class="ico" id="ico2"></div>
						<div class="ico" id="ico3"></div>
						<div class="ico" id="ico4"></div>
						<div class="ico" id="ico5"></div>
						<div class="ico" id="ico6"></div>
				
						<div class="ico" id="ico30"></div>
						<div class="ico" id="ico31"></div>
						<div class="ico" id="ico32"></div>
						<div class="ico" id="ico33"></div>
						<div class="ico" id="ico34"></div>
					</div>
				</div> -->
				<div class="row text-center position-rel">
					<div class="container"> 
						<div class="col-lg-12 text-center section-title">
							<h2>New Heights Video</h2>
							<p class="lead">All About Books & Ball</p>
							<a href="https://www.youtube.com/watch?v=OqSoawYFu9Y" class="play fancybox-media">
								<i class="fa fa-play-circle"></i>
							</a>
						</div>
					</div>
				</div>
            </section>
            <!-- Video-block -->
			 <!-- Separator-Quotes -->
            <section id="section-separator2" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
				<div class="row text-center position-rel">
					<div class="parallax-overlay-bg"></div>
					<div class="container"> 
						<div class="twitter-wrapper clearfix">													
							<div class="col-lg-12 text-center">
								<!-- Twitter section -->
								<div class="twrap clearfix">			
									<div class="twitter">					
										<div id="twitter-box" class="clearfix"></div>
									</div>	
								</div>
								<!-- End Twitter section -->									
								<a href="https://twitter.com/NewHeightsNYC" class="btn btn-default wow fadeInUp"><i class="fa fa-twitter"></i> New Heights</a>
							</div>							
						</div>
					</div>
				</div>
            </section>
			<!-- Separator-Quotes -->									       			
			
			<!-- End Process block -->
			 <!-- Testimonials -->
            <section id="testimonials" data-stellar-background-ratio="0.7" >
				<div class="container">  					
                    <div class="col-md-12">						
						<div class="owl-carousel" id="testimonials-slider" >
							<div class="item">
								<div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i> New Heights is awesome! <i class="fa fa-quote-right "></i></h4>				
									<div><p>Johnny Appleseed.</p></div>
								</div>
							</div>
							<div class="item">
								 <div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i>New Heights is really awesome!<i class="fa fa-quote-right "></i></h4>									
									<div><p>Someone Cool</p></div>
								</div>
							</div>
							<div class="item">
								<div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i>New Heights is super awesome.<i class="fa fa-quote-right "></i></h4>
									
									<div><p>Me</p></div>
								</div>
							</div>
						</div>						
					</div> 				
				</div>					
            </section>
        	<!-- End Testimonials -->
				
		
			<!-- Clients logo-->
			<!-- <section class="top-pen" id="separator-action-penal">		
				<div class="container">					
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="white">Our Partners</h2>		
							<p class="lead white">New Heights’ work with NYC student-athletes could not be achieved <br>without the generous support of our foundation and corporate partners. <br> We thank them all for their huge impact on our youth.</p> <p class="lead white"> Below are sample sponsor logos </p>
						</div>	
					</div>
				</div> -->
				<!-- Clients -->
				<!-- <section class="client-logo">
					<div class="owl-carousel" id="clients">
						<div class="item"><h3 style="color:white">HELELO</h3></div>
						<div class="item"><img alt="" src="img/clients/2.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/3.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/4.jpg"/></div>
								
					</div>
				</section> -->
				<!-- End Clients -->	
				
			</section>	
			<!-- End Clients logo-->
			
			
          
			
        	<!-- Contact Address -->
            <section id="contact-adderss">
            	<div class="container">
                	<div class="col-lg-12 text-center section-title">
                        <h2>Contact Us</h2>
						<hr>	
                        <p class="lead">If you'd like to work with us to improve our community,<br> we'd love to hear from you, so don't hesitate to give us call.</p>
                    </div>
					<div class="col-md-6 col-contact-form ">
						<h4><i class="fa fa-map-marker"></i> <small>Contact Us</small></h4>          
						<p class="lead"><strong>A.</strong> 50 E 118TH ST, NEW YORK, NY, 10035<br><strong>P.</strong> 212-426-4667 <br> <strong>E.</strong> tsmith@newheightsnyc.org</p>
								         					
						<a href="https://goo.gl/maps/Ipe3q">Find us on the map</a>
						<hr>	
						<div class="profile-social-wrapper text-left">
							<div data-href="#" class="link">
								<a href="https://twitter.com/NewHeightsNYC" target="_blank"><div class="cube twitter">
									<div class="front">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="back">
										<i class="fa fa-twitter"></i>
									</div>
								</div></a>
							</div>
							<div data-href="" class="link">
								<a href="https://www.facebook.com/NewHeightsNYC" target="_blank"><div class="cube facebook">
									<div class="front">
										<i class="fa fa-facebook"></i>
									</div>
									<div class="back">
										<i class="fa fa-facebook"></i>
									</div>
								</div></a>
							</div>								
							<div data-href="#" class="link">
								<a href="https://instagram.com/newheightsnyc/" target="_blank"><div class="cube gplus">
									<div class="front">
										<i class="fa fa-instagram"></i>
									</div>
									<div class="back">
										<i class="fa fa-instagram"></i>
									</div>
								</div></a>
							</div>								
						</div>
						<hr>
					</div>
					<div class="col-md-6 col-contact-form text-center" id="contact">
						<div id="message"></div>
						<form method="post" action="email.php" name="contactform" id="contactform">
							<fieldset>
								<div class="col-md-6"> 
									<input name="name" type="text" id="name" size="30" value="" required placeholder="Name"/>
								</div>
								<div class="col-md-6"> 
									<input name="email" type="text" id="email" size="30" value="" required placeholder="Email"/>
								</div>
								<div class="col-md-12"> 
									<input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"/>
								</div>
								<div class="col-md-12"> 
									<textarea name="comments" cols="40" rows="5" id="comments" required placeholder="Message"></textarea>
								</div>
								<div class="col-md-12"> 
									<input type="submit" class="submit" id="submit" value="Submit" />		
								</div>	
							</fieldset>
						</form>					                       	
					</div> 								
				</div>
				<div class="section-scroll">
                    <a class="next-section" href="#section-separator-video"><span class="section-arrow"></span></a>
                </div>
			</section>
			<!-- End Contact Address -->
			
			
			
			<!-- Footer -->
            <footer id="footer">
            	<div class="container text-center">
                	<div class="row">
                        <div class="col-lg-12 footer-menu">
                            <span class="pull-left">Copyright © 2014 <a class="copyrights" href="#">New Heights</a>. All Rights Reserved.</span>
                            <span class="pull-right">
                                <a href="#home-content">Home</a>
                                <a href="#about">About</a>
              
								
                                <a href="#contact-adderss">Contact</a>
                                
                            </span>
                        </div>
        			</div>
                </div>
				<div id="scroll-container">
                    <a href="#home-content" class="scroll-top"><span id="scroll-arrow"></span></a>
                </div>
            </footer>
            <!-- End Footer -->
	
		</div>
        <!--End main wrapper-->

</div>	
      
	