	
	<div class="main_wrap">
		<!--Preloader div -->
		<div class="blank">
			<span class="loader"><span class="loader-inner"></span></span>
		</div>		
        <!--End Preloader div-->
		
		<!--Header -->	
		<div id="header">		
			<header style="padding-bottom:10px">
				<a class="cd-brand" href="#home-content"><img src="img/logo.png" style="width:120px" alt="brand name"></a>
			</header>		
		</div>
		<!--End Header -->	
		
		<!--Navigation-->	
		<nav>
			<ul class="cd-primary-nav">
				<li><a href="#home-content">Home</a></li>
				<li><a href="#about">About us</a></li>
				<li><a href="#section-separator-video">Video </a></li>
				<li><a href="#sp_block">College Bound</a></li>
				<li><a href="#facts-section">Our Facts</a></li>
				<li><a href="#team">Our team</a></li>
				<li><a href="#process">Get Involved</a></li>
				<!-- <li><a href="#price-list">Price list</a></li>				
				<li><a href="thoughts.html">Thoughts</a></li> -->
				<li><a href="#contact-adderss">Contact us</a></li>
				<li><hr><p>50 E 118TH ST,<br> NEW YORK, <br>NY, 10035<br> tsmith@newheightsnyc.org<br>Tel: 212-426-4667</p></li>
				<li>
					<div class="profile-social-wrapper text-center">
						<div class="link" data-href="#">
							<div class="cube twitter">
								<div class="front">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="back">
									<i class="fa fa-twitter"></i>
								</div>
							</div>
						</div>
						<div class="link" data-href="#">
							<div class="cube facebook">
								<div class="front">
									<i class="fa fa-facebook"></i>
								</div>
								<div class="back">
									<i class="fa fa-facebook"></i>
								</div>
							</div>
						</div>								
						<div class="link" data-href="#">
							<div class="cube gplus">
								<div class="front">
									<i class="fa fa-google-plus"></i>
								</div>
								<div class="back">
									<i class="fa fa-google-plus"></i>
								</div>
							</div>
						</div>								
					</div>
				</li>
			</ul>
		</nav>
		
		<!-- cd-overlay-nav -->
		<div class="cd-overlay-nav">
			<span></span>
		</div> 
		<!-- cd-overlay-content -->
		<div class="cd-overlay-content">
			<span></span>
		</div> 
		<!-- Menu icon -->
		<a class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
		
		<!-- End Navigation -->	
		
		<!--Home slider-->
		<div id="home-content">              
			<div id="content-top" class="slider">
			
				<!-- Slider nav -->
				<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
				<!-- End Slider nav -->
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
					
						<!--Slider 1 -->
						<div class="swiper-slide slide-1">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">								
								<h1>Leaders<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus.</p>
								</div>
								<a href="#about" class="slider-teaser-link">About us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 1 -->
						
						<!--Slider 2 -->
						<div class="swiper-slide slide-2">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Champions<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus.</p>
								</div>
								<a href="#facts-section" class="slider-teaser-link">View Our Facts</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 2 -->
						
						<!--Slider 3 -->
						<div class="swiper-slide slide-3">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Student<br> athelets</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus.</p>
								</div>
								<a href="#contact-adderss" class="slider-teaser-link">Contact us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!-- End Slider 3 -->
						
						<!--Slider 4 -->
						<div class="swiper-slide slide-4">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1><br>College<br>Bound</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus.</p>
								</div>
								<a href="#sp_block" class="slider-teaser-link">View Our Work</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 4 -->
						
						<!--Slider 5 -->
						<div class="swiper-slide slide-5">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>Support<br>Us</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus.</p>
								</div>
								<a href="#process" class="slider-teaser-link">Get Involved</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png"/>
									</a>
								</div>
							</div>
						</div>
						<!--End Slider 5 -->
						
					</div><!--End Swipper Wrapper -->					
				</div><!-- swiper-container -->
				
				<!-- Swipper pagination -->
				<div class="pagination"></div>
				<!-- End Swipper pagination -->
			</div>		
        </div>
		<!--End Home slider-->
       
		<!--main wrapper-->
        <div class="site-wrapper">
			
            <!-- About Us -->
            <section id="about">
				<div class="flat container content">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>New Heights Youth, Inc.</h2>		
							<hr>	
							<p class="lead"> A Non-Profit Sports-Based Youth Development And Education Organization <br>Based In NYC</p>
						</div>						
					</div>
					<!-- About intro -->
					<article id="about-intro" class="text-center">		
						<div class="row">
							<div class="col-md-4">
								<div class="ab-block  clearfix">
									<a href="#">
										<i><span class="fa fa-trophy"></span></i>
									</a>								  
									<div class="ab-heading">
										<h4>Court</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="ab-block clearfix">
								  <a href="#">
									<i><span class="fa fa-globe"></span></i>
								  </a>
								  <div class="ab-heading">
										<h4>Community</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="ab-block clearfix">
								  <a href="#">
									<i><span class="fa fa-book"></span></i>
								  </a>
								  <div class="ab-heading">
										<h4>Education</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>							
						</div>
					</article>
					<!-- End About Us intro container -->
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#sp_block"><span class="section-arrow"></span></a>
                </div>
			</section>
            <!--End About-->
			
			<!-- Video-block -->
            <section id="section-separator-video">
				<div id="iconsholder">
					<div class="icons">						
						<div class="ico" id="ico2"></div>
						<div class="ico" id="ico3"></div>
						<div class="ico" id="ico4"></div>
						<div class="ico" id="ico5"></div>
						<div class="ico" id="ico6"></div>
						<div class="ico" id="ico7"></div>
						<div class="ico" id="ico8"></div>
						<div class="ico" id="ico9"></div>
						<div class="ico" id="ico10"></div>
						<div class="ico" id="ico11"></div>
						<div class="ico" id="ico12"></div>
						<div class="ico" id="ico13"></div>
						<div class="ico" id="ico14"></div>
						<div class="ico" id="ico15"></div>
						<!-- <div class="ico" id="ico16"></div>
						<div class="ico" id="ico17"></div>
						<div class="ico" id="ico18"></div>
						<div class="ico" id="ico19"></div>
						<div class="ico" id="ico20"></div>
						<div class="ico" id="ico21"></div>
						<div class="ico" id="ico22"></div>
						<div class="ico" id="ico23"></div>
						<div class="ico" id="ico24"></div>
						<div class="ico" id="ico25"></div>
						<div class="ico" id="ico26"></div>
						<div class="ico" id="ico27"></div>
						<div class="ico" id="ico28"></div>
						<div class="ico" id="ico29"></div>
						<div class="ico" id="ico30"></div>
						<div class="ico" id="ico31"></div>
						<div class="ico" id="ico32"></div>
						<div class="ico" id="ico33"></div>
						<div class="ico" id="ico34"></div> -->
					</div>
				</div>
				<div class="row text-center position-rel">
					<div class="container"> 
						<div class="col-lg-12 text-center section-title">
							<h2>Video</h2>
							<p class="lead">nulla sollicitudin pretium a sed purus. <br>Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
							<a href="https://www.youtube.com/watch?v=OqSoawYFu9Y" class="play fancybox-media">
								<i class="fa fa-play-circle"></i>
							</a>
						</div>
					</div>
				</div>
            </section>
            <!-- Video-block -->
			
			
			<!-- Springspray features -->
			<section id="sp_block">
				<div class="container">
	
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>College Bound</h2>		
							<hr>	
							<p class="lead">offers comprehensive middle school and high school educational programming and support services <br>to approximately 200 students annually and takes place daily<br> during after-school and Saturday hours and throughout the day during the summer.</p>
						</div>						
					</div>
					<div class="row sp_block_wrap">
						<div class="col firstcol col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 1</h5> -->
										<i><span class="icon icon-home"></span></i>	
										<h4>Family<br>Connection</h4>
										<p>Throughout our programming, New Heights is relentless in our support of our student-athletes and we serve as a valuable resource to their families. ...more</p>
									  </div>									  
								</div>
							</div>	
						</div>
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 2</h5> -->
										<i><span class="icon icon-medal"></span></i>	
										<h4>Basketball<br>& Leadership Development</h4>
										<p>Praesent faucibus nisl sit amet<br>nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="col firstcol col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 3</h5> -->
										<i><span class="icon icon-diagram"></span></i>	
										<h4>Academic <br>Support</h4>
										<p>Praesent faucibus nisl sit amet<br>nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 4</h5> -->
										<i><span class="icon icon-hat"></span></i>
										<h4>High School<br>Assist</h4>
										<p>Praesent faucibus nisl sit amet<br>nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="col firstcol col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 3</h5> -->
										<i><span class="icon icon-lamp"></span></i>	
										<h4>College <br>Assist</h4>
										<p>Praesent faucibus nisl sit amet<br>nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
									  </div>
								</div>
							</div>	
						</div>
						<div class="col col50 col_br_100">
							
							<div class="clearfix fullcontainer">
								<div class="containerBloc valign">
									<div>
										<!-- <h5>features 4</h5> -->
										<i><span class="icon icon-cup"></span></i>
										<h4>Student-Athelet<br>Summer Academy</h4>
										<p>Praesent faucibus nisl sit amet<br>nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
									  </div>
								</div>
							</div>	
						</div>
					</div>
	
				</div>
				<div class="section-scroll">
                    <a class="next-section" href="#team"><span class="section-arrow"></span></a>
                </div>
			</section>
			<!-- End Springspray features -->
			
	
			
            <!-- Number section -->
            <section id="facts-section" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
				<div class="row text-center position-rel">
					<div class="parallax-overlay-bg"></div>
					<div class="facts-section clearfix">
						<div class="container"> 
							<div class="col-md-10 col-md-offset-1">
								<div class="text-center">			
									<h2 class="white">Our Facts</h2>									
									<p class="lead">nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
								</div>
								<!-- facts -->
								<div id="facts">
									<!-- facts row -->
									<div class="row">
										<div class="numbers">                           
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span class="increment">100%</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"><i class="fa fa-eye"></i> High school graduation rate</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
											</div>
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span  class="increment">302</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"><i class="fa fa-heart"></i> placed in college prep high schools</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
											</div>
											<div class="col-md-4">	
												<div class="stat">
													<!-- Num -->
													<div class="num"><h2 class="white"><span  class="increment">98%</span></h2></div>
													<!-- Num -->
													<!-- Type -->
													<div class="number-text"><i class="fa fa-user"></i> College matriculation rate</div>
													<!-- Type -->
													<div class="longline"></div>
												</div>
												</div>
						<div class="row">
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"><i class="fa fa-eye"></i> High school graduation rate</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"><i class="fa fa-eye"></i> High school graduation rate</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"><i class="fa fa-eye"></i> High school graduation rate</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		</div> 
		<div class="row">
			<div class="col-md-4">	
		  <div class="stat">
				<!-- Num -->
			<div class="num"><h2 class="white"><span  class="increment">100%</span></h2></div>
			<!-- Num -->
			<!-- Type -->
			<div class="number-text"><i class="fa fa-eye"></i> High school graduation rate</div>
			<!-- Type -->
			<div class="longline"></div>
			</div>
		</div>
		</div>                                          
	  </div>
	</div>
									<!-- End facts row -->
								</div>
								<!-- End facts -->
							</div>
						</div>
					</div>
				</div>
            </section>
        	<!-- End Number section -->

        			<!-- Team -->
            <section id="team">
            	<div class="container">
                	<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Our Team</h2>		
							<hr>	
							<p class="lead">nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
						</div>						
					</div>
					<!-- Team block -->	
					<article class="ab">		
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team01" class="teampopup">
										<!-- <img alt="" src="img/team/01.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Nick Blatchford<br><small>New Heights Founder and CEO, Five-Star Basketball</small></h4>		
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div> -->
										<!-- <div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>			 -->					
									<!-- </div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team02" class="teampopup">
										<!-- <img alt="" src="img/team/02.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Kieran Goodwin<br><small>Co-Founder and Portfolio Manager, Panning Capital</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team03" class="teampopup">
										<!-- <img alt="" src="img/team/03.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Rocky Kurita<br><small>Senior Vice President, D.E. Shaw</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team04" class="teampopup">
										<!-- <img alt="" src="img/team/04.jpg" /> -->
									</a>
									<div class="ab-heading">
										<h4>Nina Lesavoy<br><small>Managing Director, Avec Capital</small></h4>										
										
									</div>
									<!-- <div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div> -->
								</div>
							</div>
						</div>
					</article>		
					<!-- End Team block -->		
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#services"><span class="section-arrow"></span></a>
                </div>
				<!-- <div id="team01" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/01.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team02" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/02.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team03" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/03.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team04" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/04.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div> -->
			</section>
            <!-- End Team -->
			
			<!-- Services -->
           <!--  <section id="services">
                <div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>What We Do</h2>		
							<hr>	
							<p class="lead">What We Do? Our cool features. A highly skilled professional services <br>work together to deliver a first class final product.</p>
						</div>						
					</div> -->
					<!-- Services container -->	
					<!-- <article id="service-intro" class="text-center">
						
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="se-block clearfix">
									<a href="#">
										<span class="mask"></span>
										<i><span class="icon icon-ruller"></span></i>
									</a>								  
									<div class="se-heading">
										<h4>Website Design</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="se-block clearfix">
								  <a href="#">
									<span class="mask"></span>
									<i><span class="icon icon-cart"></span></i>
								  </a>
								  <div class="se-heading">
										<h4>eCommerce</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="se-block  clearfix">
								  <a href="#">
									<span class="mask"></span>
									<i><span class="icon icon-web"></span></i>
								  </a>
								  <div class="se-heading">
										<h4>Web Development</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="se-block clearfix">
									<a href="#">
										<span class="mask"></span>
										<i><span class="icon icon-diamond"></span></i>	
									</a>								  
									<div class="se-heading">
										<h4>Brand Creation</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="se-block clearfix">
								  <a href="#">
									<span class="mask"></span>
									<i><span class="icon icon-tie"></span></i>
								  </a>
								  <div class="se-heading">
										<h4>Customer Support</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="se-block clearfix">
								  <a href="#">
									<span class="mask"></span>
									<i><span class="icon icon-brush"></span></i>
								  </a>
								  <div class="se-heading">
										<h4>Graphic Design</h4>
										<p> Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna. </p>
									</div>
								</div>
							</div>							
						</div>
						
					</article>                    
                </div>								
				<div class="section-scroll">
                    <a class="next-section" href="#process"><span class="section-arrow"></span></a>
                </div>
			</section> -->
            <!-- End Services -->
			
			<!-- Process block -->
			<section id="process">
                <div class="container">					
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="white">Get Involved</h2>		
							<p class="lead white">We need all kinds of support<br> let's work together and create bigger impact.</p>
						</div>	
					</div>	
				</div>			
						
				<section class="grid ">
					<div class="split-section-content service-grid clearfix">
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-settings"></span>
									</div>
									<h4 class="service-title">Share</h4>
								</div>
								<div class="service-descr">
									Cras vehicula mi eu est vestibulum posuere. Duis et purus at nunc laoreet euismod ut sit amet sem. Proin rhoncus imperdiet consequat lacus arcu vitae magna condimentum pellentesque.									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-brush"></span>
									</div>
									<h4 class="service-title">Enroll</h4>
								</div>
								<div class="service-descr">
									Cras vehicula mi eu est vestibulum posuere. Duis et purus at nunc laoreet euismod ut sit amet sem. Proin rhoncus imperdiet consequat lacus arcu vitae magna condimentum pellentesque.									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-heart"></span>
									</div>
									<h4 class="service-title">Volunteer</h4>
								</div>
								<div class="service-descr">
									Cras vehicula mi eu est vestibulum posuere. Duis et purus at nunc laoreet euismod ut sit amet sem. Proin rhoncus imperdiet consequat lacus arcu vitae magna condimentum pellentesque.									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->


					
					<!-- Service Item -->
					<div class="service-item">
						<div class="si-cell">
							<div class="si-inner">
								<div class="service-intro">
									<div class="service-icon">
										<span class="icon icon-rocket"></span>
									</div>
									<h4 class="service-title">Donate</h4>
								</div>
								<div class="service-descr">
									Cras vehicula mi eu est vestibulum posuere. Duis et purus at nunc laoreet euismod ut sit amet sem. Proin rhoncus imperdiet consequat lacus arcu vitae magna condimentum pellentesque.									
								</div>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					</div>
				</section>
												       			
			</section>
			<!-- End Process block -->
			 <!-- Testimonials -->
            <section id="testimonials" data-stellar-background-ratio="0.7" >
				<div class="container">  					
                    <div class="col-md-12">						
						<div class="owl-carousel" id="testimonials-slider" >
							<div class="item">
								<div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i> New Heights is awesome! <i class="fa fa-quote-right "></i></h4>				
									<div><p>Johnny Appleseed.</p></div>
								</div>
							</div>
							<div class="item">
								 <div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i>New Heights is really awesome!<i class="fa fa-quote-right "></i></h4>									
									<div><p>Someone Cool</p></div>
								</div>
							</div>
							<div class="item">
								<div class="col-lg-12 testimonials text-center">									
									<h4><i class="fa fa-quote-left"></i>New Heights is super awesome.<i class="fa fa-quote-right "></i></h4>
									
									<div><p>Me</p></div>
								</div>
							</div>
						</div>						
					</div> 				
				</div>					
            </section>
        	<!-- End Testimonials -->
			
			<!-- Separator -->
            <section id="section-separator1" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
				<div class="row text-center position-rel">
					<div class="parallax-overlay-bg"></div>
					<div class="container"> 
						<div class="quotes clearfix">													
							<div class="col-lg-12 text-center">
								<h3 class="white"><span class="color">Feeling the itch to pitch in?</span> <br><span >Let’s game!</span></h3>
								<a href="#" class="btn btn-default">Contact us now</a>
							</div>							
						</div>
					</div>
				</div>
            </section>
			<!-- End Separator -->
			
			
		
			<!-- Clients logo-->
			<section class="top-pen" id="separator-action-penal">		
				<div class="container">					
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="white">Our Partners</h2>		
							<p class="lead white">New Heights’ work with NYC student-athletes could not be achieved <br>without the generous support of our foundation and corporate partners. <br> We thank them all for their huge impact on our youth.</p> <p class="lead white"> Below are sample sponsor logos </p>
						</div>	
					</div>
				</div>
				<!-- Clients -->
				<section class="client-logo">
					<div class="owl-carousel" id="clients">
						<div class="item"><img alt="" src="img/clients/1.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/2.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/3.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/4.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/5.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/6.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/1.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/2.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/3.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/4.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/5.jpg"/></div>
						<div class="item"><img alt="" src="img/clients/6.jpg"/></div>			
					</div>
				</section>
				<!-- End Clients -->	
				
			</section>	
			<!-- End Clients logo-->
			
		   
		

			<!--newsfun -->
			<section id="news">
				<div class="container">
                    <div class="col-lg-12 text-center ">
                        <h2>Latest News & Fun</h2>
						<hr>	
                        <p class="lead">Continuously creating daring digital solutions. View some of the our latest <br>work we have crafted with love. </p>
                    </div>
					
					<div class="row">
						<div class="col-md-4 col-sm-4 ">
							<article class="news-wrapper clearfix">
								<img src="img/news/1.jpg" alt="" class="bg_hover_image"/>
								<a href="News-single.html">
									<div class="date">30/10/2014</div>
									<h4>Pellentesque turpis ligula urna placerat</h4>
									<p>Aenean in magna aliquet maecenas ligula urna placerat in lectus pulvinar pellentesque turpis eleifend quam eget rutrum massa.Maecenas... </p>
									<p class="news-link"><strong>Read more</strong></p>
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/2.jpg" alt="" class="bg_hover_image"/>
								<a href="News-single.html">
									<div class="date">30/10/2014</div>
									<h4>Maecenas ligula urna placerat pulvinar</h4>
									<p>Maecenas ligula urna placerat in lectus pulvinar maecenas ligula urna placerat in lectus pulvinar pellentesque turpis pellentesque rutr turpis...</p>
									<p class="news-link"><strong>Read more</strong></p>
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/3.jpg" alt="" class="bg_hover_image"/>
								<a href="News-single.html">
									<div class="date">See more...</div>
									<h4>In our BLOG</h4>
									<div class="text-center">	
									<span class="icon icon-next"></span>
									</div>
								</a>
							</article>
						</div>
					</div>
						
					<div class="text-center">	
						<a href="news-list.html" class="btn btn-default margintop">Read all news</a>	
					</div>
				</div>	
				
				<!-- Subscribe -->
				<div class="leave-email clearfix">					
					<div class="cd-form-wrapper cd-container">
						<form class="cd-form">
							<label class="cd-label" for="cd-email">Newsletter</label>
							<input type="email" id="cd-email" class="cd-email" name="cd-email" placeholder="Enter your email address">
							<input type="submit" class="cd-submit" value="Submit">
							<div class="cd-loading"></div>
						</form>

						<div data-type="message" class="cd-response cd-response-error">Ops! Error message here</div>
						<div data-type="message" class="cd-response-success"><p>Great! Success message here</p></div>
						<div data-type="message" class="cd-response cd-response-notification">Hey! Please try again!</div>
					</div>					
					<!-- End Subscribe -->							
				</div>
				<!-- End Subscribe -->		
				
			</section>
            <!-- End News & fun -->
			
            <!-- Separator-Quotes -->
            <section id="section-separator2" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
				<div class="row text-center position-rel">
					<div class="parallax-overlay-bg"></div>
					<div class="container"> 
						<div class="twitter-wrapper clearfix">													
							<div class="col-lg-12 text-center">
								<!-- Twitter section -->
								<div class="twrap clearfix">			
									<div class="twitter">					
										<div id="twitter-box" class="clearfix"></div>
									</div>	
								</div>
								<!-- End Twitter section -->									
								<a href="https://twitter.com/NewHeightsNYC" class="btn btn-default wow fadeInUp"><i class="fa fa-twitter"></i> New Heights</a>
							</div>							
						</div>
					</div>
				</div>
            </section>
			<!-- Separator-Quotes -->
			
        	<!-- Contact Address -->
            <section id="contact-adderss">
            	<div class="container">
                	<div class="col-lg-12 text-center section-title">
                        <h2>Contact Us</h2>
						<hr>	
                        <p class="lead">If you'd like to work with us to improve our community,<br> we'd love to hear from you, so don't hesitate to give us call.</p>
                    </div>
					<div class="col-md-6 col-contact-form ">
						<h4><i class="fa fa-map-marker"></i> <small>Send us a postcard</small></h4>          
						<p class="lead"><strong>A.</strong> 50 E 118TH ST, NEW YORK, NY, 10035<br><strong>P.</strong> 212-426-4667 <br> <strong>E.</strong> tsmith@newheightsnyc.org</p>
								         					
						<a href="#">Find us on map</a>
						<hr>	
						<div class="profile-social-wrapper text-left">
							<div data-href="#" class="link">
								<div class="cube twitter">
									<div class="front">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="back">
										<i class="fa fa-twitter"></i>
									</div>
								</div>
							</div>
							<div data-href="#" class="link">
								<div class="cube facebook">
									<div class="front">
										<i class="fa fa-facebook"></i>
									</div>
									<div class="back">
										<i class="fa fa-facebook"></i>
									</div>
								</div>
							</div>								
							<div data-href="#" class="link">
								<div class="cube gplus">
									<div class="front">
										<i class="fa fa-google-plus"></i>
									</div>
									<div class="back">
										<i class="fa fa-google-plus"></i>
									</div>
								</div>
							</div>								
						</div>
						<hr>
					</div>
					<div class="col-md-6 col-contact-form text-center" id="contact">
						<div id="message"></div>
						<form method="post" action="email.php" name="contactform" id="contactform">
							<fieldset>
								<div class="col-md-6"> 
									<input name="name" type="text" id="name" size="30" value="" required placeholder="Name"/>
								</div>
								<div class="col-md-6"> 
									<input name="email" type="text" id="email" size="30" value="" required placeholder="Email"/>
								</div>
								<div class="col-md-12"> 
									<input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"/>
								</div>
								<div class="col-md-12"> 
									<textarea name="comments" cols="40" rows="5" id="comments" required placeholder="Message"></textarea>
								</div>
								<div class="col-md-12"> 
									<input type="submit" class="submit" id="submit" value="Submit" />		
								</div>	
							</fieldset>
						</form>					                       	
					</div> 								
				</div>
				<div class="section-scroll">
                    <a class="next-section" href="#section-separator-video"><span class="section-arrow"></span></a>
                </div>
			</section>
			<!-- End Contact Address -->
			
			
			
			<!-- Footer -->
            <footer id="footer">
            	<div class="container text-center">
                	<div class="row">
                        <div class="col-lg-12 footer-menu">
                            <span class="pull-left">Copyright © 2014 <a class="copyrights" href="#">New Heights</a>. All Rights Reserved.</span>
                            <span class="pull-right">
                                <a href="#home-content">Home</a>
                                <a href="#about">About</a>
              
								<a href="#blog">Blog</a>
                                <a href="#contact-adderss">Contact</a>
                                
                            </span>
                        </div>
        			</div>
                </div>
				<div id="scroll-container">
                    <a href="#home-content" class="scroll-top"><span id="scroll-arrow"></span></a>
                </div>
            </footer>
            <!-- End Footer -->
	
		</div>
        <!--End main wrapper-->

</div>	
      
	