	
	<div class="main_wrap">
		<!--Preloader div -->
		<div class="blank">
			<span class="loader"><span class="loader-inner"></span></span>
		</div>		
        <!--End Preloader div-->


		
		<!--Header -->	
		<div id="header">		
			<header >
				<a class="cd-brand" href="#home-content"><img src="img/CHAS.png" style="margin-left:10px;width:185px;padding-bottom:10px" alt="brand name"></a>
			</header>	

		</div>
		<!--End Header -->	

		<!-- Header navigation -->	
		<nav>
			<div id="nav">
				<div class="header-inner">
					<!-- <a href="#home-content" class="nav-logo hidden-con"></a> -->
					<div class="close"></div>
					<div class="menunav-container">
						<ul class="menu" id="menu-main-nav">
							<li><a href="#home-content">Home</span></a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#team">Team</a></li>
							
							<li><a href="#news">News</a></li>
							
							<li><a href="#contact-adderss">Contact</a></li>
						</ul>
					</div>		
				</div>
			</div>
		</nav>
		<!-- End Header navigation -->	
		
		<!-- Header -->	
		<div id="header" class="">
			<div class="header-inner">
				<!-- <a href="#home-content" class="nav-logo"></a> -->
				<div class="navicon"></div>
			</div>
		</div>
		<!-- End Header -->		
		
		
		
		<!--Home slider-->
		<div id="home-content">              
			<div id="content-top" class="slider">
			
				<!-- Slider nav -->
				<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
				<!-- End Slider nav -->
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
					
						<!--Slider 1 -->
						<div class="swiper-slide slide-1">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">								
								<h1>WELCOME TO <br>CHINESE AVIATORS SOCIETY<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p>We Love The SKY</p>
								</div>
								<a href="#about" class="slider-teaser-link">About us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 1 -->
						
						<!--Slider 2 -->
						<div class="swiper-slide slide-2">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>COME FLY <br> WITH US<br></h1>
								<hr>
								<div class="slider-teaser-text">
									<p> We'd Love To Have You 
</p>
								</div>
								<a href="#facts-section" class="slider-teaser-link">View Our Facts</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!--End Slider 2 -->
						
						<!--Slider 3 -->
						<div class="swiper-slide slide-3">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>SKY IS <br> THE LIMIT</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>We Love Flying</p>
								</div>
								<a href="#contact-adderss" class="slider-teaser-link">Contact us</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png" />
									</a>
								</div>
							</div>
							
						</div>
						<!-- End Slider 3 -->		
						
						<!--Slider 5 -->
						<div class="swiper-slide slide-5">
							<!--overlay -->
							<div class="parallax-overlay"></div>
							
							<!-- slider content -->
							<div class="slider-teaser white">
								<h1>JOIN <br> US</h1>
								<hr>
								<div class="slider-teaser-text">
									<p>Become our member, today!</p>
								</div>
								<a href="#process" class="slider-teaser-link">Get Involved</a>
							</div>
							
							<!-- slider bottom arrow -->
							<div class="arrow">
								<div class="arrow-block">
									<a class="arrow-up-click" href="#about">                              
										<img alt="" src="img/arrow-down.png"/>
									</a>
								</div>
							</div>
						</div>
						<!--End Slider 5 -->
						
					</div><!--End Swipper Wrapper -->					
				</div><!-- swiper-container -->
				
				<!-- Swipper pagination -->
				<div class="pagination"></div>
				<!-- End Swipper pagination -->
			</div>		
        </div>
		<!--End Home slider-->
       
		<!--main wrapper-->
        <div class="site-wrapper">
			
            <!-- About Us -->
          <section id="about">
				<div class="flat container content">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>About us</h2>		
							<hr><p> We Are Dedicated To Promote General Aviation Among Chinese & Chinese American Communities.</p>
						</div>						
					</div>
					<!-- About intro -->
					<article id="about-intro" class="text-center">		
						<div class="row">
							<div class="col-md-4">
								<div class="ab-block  clearfix">
									<a href="#">
										<i><span class="icon icon-flag"></span></i>
									</a>								  
									<div class="ab-heading">
										<h4>Unite</h4>
										<p> We unite every flying enthusiast into a vibrant community. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="ab-block clearfix">
								  <a href="#">
									<i><span class="icon icon-edit"></span></i>
								  </a>
								  <div class="ab-heading">
										<h4>Educate</h4>
										<p> We share our experiences in general aviation and flight safety. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="ab-block clearfix">
								  <a href="#">
									<i><span class="icon icon-rocket"></span></i>
								  </a>
								  <div class="ab-heading">
										<h4>Fly</h4>
										<p> Then off we fly! </p>
									</div>
								</div>
							</div>							
						</div>
					</article>
					<!-- End About Us intro container -->
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#sp_block"><span class="section-arrow"></span></a>
                </div>
			</section>
            <!--End About-->
            <!--newsfun -->
			<section id="news">
				<div class="container">
                    <div class="col-lg-12 text-center ">
                        <h2>Latest News & Fun</h2>
						<hr>	
                        <p class="lead"> Check out what’s going on at CHAS and how you can get involved </p>
                    </div>
					
					<div class="row">
						<div class="col-md-4 col-sm-4 ">
							<article class="news-wrapper clearfix">
								<img src="img/news/1.jpg" alt="" class="bg_hover_image"/>
								<a href="#" target="_blank">
									<div class="date">04/12/2015</div>
									<h4>CHAS Official Site Is Launching!</h4>
									<p>Hello World! Welcome to our official website! </p>
									<!-- <p class="news-link"><strong>Read more</strong></p> -->
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/2.jpg" alt="" class="bg_hover_image"/>
								<a href="#">
									<div class="date">04/04/2015</div>
									<h4>A Productive Founding Members' Meeting</h4>
									<p>We're happy to announce that we establish an organization structure and elected our first President - Jackson!</p>
									<!-- <p class="news-link"><strong>Read more</strong></p> -->
								</a>
							</article>
						</div>
						<div class="col-md-4 col-sm-4">
							<article class="news-wrapper clearfix">
								<img src="img/news/3.jpg" alt="" class="bg_hover_image"/>
								<a href="https://www.facebook.com/nyflyingclub">
									<div class="date">See more...</div>
									<h4>New & Updates</h4>
									<div class="text-center">	
									<span class="icon icon-next"></span>
									</div>
								</a>
							</article>
						</div>
					</div>
						
					<div class="text-center">	
						<a href="https://www.facebook.com/nyflyingclub" class="btn btn-default margintop">Read all news</a>	
					</div>
				</div>	

				
			</section>
            <!-- End News & fun -->
			
		
			
			
			
	
			
            
        			<!-- Team -->
            <section id="team">
            	<div class="container">
                	<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Our Team</h2>		
							<hr>	
							<p class="lead">Meet Our Founding Members</p>
						</div>						
					</div>
					<!-- Team block -->	
					<article class="ab">		
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team01" class="teampopup">
										<img alt="" src="img/team/1.png" />
									</a>
									<div class="ab-heading">
										<h4>Jackson Peng<br><small>President</small></h4>		
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team02" class="teampopup">
										<img alt="" src="img/team/2.png" />
									</a>
									<div class="ab-heading">
										<h4>Eric Teng<br><small>Vice President</small></h4>										
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team03" class="teampopup">
										<img alt="" src="img/team/image12.png" />
									</a>
									<div class="ab-heading">
										<h4>Jason Zhang<br><small>Director General</small></h4>										
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team04" class="teampopup">
										<img alt="" src="img/team/IMG_0089.png" />
									</a>
									<div class="ab-heading">
										<h4>Tak Fung<br><small>Vice President & Chief Financial Officer</small></h4>										
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team01" class="teampopup">
										<img alt="" src="img/team/4.png" />
									</a>
									<div class="ab-heading">
										<h4>Rudy Luo<br><small>Vice President & Chief Promotion Officer</small></h4>		
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team02" class="teampopup">
										<img alt="" src="img/team/3.png" />
									</a>
									<div class="ab-heading">
										<h4>Saki Chen<br><small>Vice President & Chief Legal Counsel</small></h4>										
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="pentagon clearfix">
									<a href="#team03" class="teampopup">
										<img alt="" src="img/team/hsin.png" />
									</a>
									<div class="ab-heading">
										<h4>Hsin Hsiao<br><small>Vice Director General & Chief Technology Officer</small></h4>										
										
									</div>
									<div class="profile-social-wrapper">
										<div class="link" data-href="#">
											<div class="cube twitter">
												<div class="front">
													<i class="fa fa-twitter"></i>
												</div>
												<div class="back">
													<i class="fa fa-twitter"></i>
												</div>
											</div>
										</div>
										<div class="link" data-href="#">
											<div class="cube facebook">
												<div class="front">
													<i class="fa fa-facebook"></i>
												</div>
												<div class="back">
													<i class="fa fa-facebook"></i>
												</div>
											</div>
										</div>								
										<div class="link" data-href="#">
											<div class="cube gplus">
												<div class="front">
													<i class="fa fa-google-plus"></i>
												</div>
												<div class="back">
													<i class="fa fa-google-plus"></i>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</div>
							
							
						</div>
						<!-- <div class="text-center">	
						<a href="news-list.html" class="btn btn-default margintop" style="border:solid 1px">See All</a>	
					</div> -->
					</article>		
					<!-- End Team block -->		
                </div>
				<div class="section-scroll">
                    <a class="next-section" href="#services"><span class="section-arrow"></span></a>
                </div>
				<!-- <div id="team01" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/01.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team02" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/02.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team03" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/03.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div>
				<div id="team04" class="team_detail clearfix">
					<div class="detail_image">
						<img alt="" src="img/team/04.jpg" />
					</div>
					<div class="detail_content">
					<h4>Melon Carlove<br><small>Developer</small></h4>										
					<p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</p>
					<h4><small>Technical skills</small></h4> 
					<p>Wordpress | PHP | MySQL | Mobile Development | Web Design </p>
					</div>
				</div> -->
			</section>
            <!-- End Team -->
			
			
			
				

					
				

					<!-- Video-block -->
            <section id="section-separator-video">
				<!-- <div id="iconsholder">
					<div class="icons">						
						<div class="ico" id="ico2"></div>
						<div class="ico" id="ico3"></div>
						<div class="ico" id="ico4"></div>
						<div class="ico" id="ico5"></div>
						<div class="ico" id="ico6"></div>
				
						<div class="ico" id="ico30"></div>
						<div class="ico" id="ico31"></div>
						<div class="ico" id="ico32"></div>
						<div class="ico" id="ico33"></div>
						<div class="ico" id="ico34"></div>
					</div>
				</div> -->
				<div class="row text-center position-rel">
					<div class="container"> 
						<div class="col-lg-12 text-center section-title">
							<h2>CHAS Videos</h2>
							<p class="lead">All About the Sky</p>
							<a href="https://www.youtube.com/watch?v=YST9mjNI7_g" class="play fancybox-media">
								<i class="fa fa-play-circle"></i>
							</a>
						</div>
					</div>
				</div>
            </section>
            <!-- Video-block -->						       			
			
			<!-- End Process block -->
			
				
		
			
          
			
        	<!-- Contact Address -->
            <section id="contact-adderss">
            	<div class="container">
                	<div class="col-lg-12 text-center section-title">
                        <h2>Contact Us</h2>
						<hr>	
                        <p class="lead">If you'd like to join our community,<br> we'd love to hear from you, so don't hesitate to shoot us a message.</p>
                    </div>
					<div class="col-md-6 col-contact-form ">
						<h4><i class="fa fa-map-marker"></i> <small>Contact Us</small></h4>          
						<p class="lead"><strong>JFK Airport</strong> 145-18 156TH ST, Suite 211-D Jamaica, NY, 11434<br><strong>P.</strong> 212-xxx-xxxx <br> <strong>E.</strong> info@chasny.org</p>
								         					
						<a href="https://goo.gl/maps/o47Gl">Find us on the map</a>
						<hr>	
						<div class="profile-social-wrapper text-left">
							<div data-href="#" class="link">
								<a href="#" target="_blank"><div class="cube twitter">
									<div class="front">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="back">
										<i class="fa fa-twitter"></i>
									</div>
								</div></a>
							</div>
							<div data-href="" class="link">
								<a href="#" target="_blank"><div class="cube facebook">
									<div class="front">
										<i class="fa fa-facebook"></i>
									</div>
									<div class="back">
										<i class="fa fa-facebook"></i>
									</div>
								</div></a>
							</div>								
							<div data-href="#" class="link">
								<a href="#" target="_blank"><div class="cube gplus">
									<div class="front">
										<i class="fa fa-instagram"></i>
									</div>
									<div class="back">
										<i class="fa fa-instagram"></i>
									</div>
								</div></a>
							</div>								
						</div>
						<hr>
					</div>
					<div class="col-md-6 col-contact-form text-center" id="contact">
						<div id="message"></div>
						<form method="post" action="email.php" name="contactform" id="contactform">
							<fieldset>
								<div class="col-md-6"> 
									<input name="name" type="text" id="name" size="30" value="" required placeholder="Name"/>
								</div>
								<div class="col-md-6"> 
									<input name="email" type="text" id="email" size="30" value="" required placeholder="Email"/>
								</div>
								<div class="col-md-12"> 
									<input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"/>
								</div>
								<div class="col-md-12"> 
									<textarea name="comments" cols="40" rows="5" id="comments" required placeholder="Message"></textarea>
								</div>
								<div class="col-md-12"> 
									<input type="submit" class="submit" id="submit" value="Submit" />		
								</div>	
							</fieldset>
						</form>					                       	
					</div> 								
				</div>
				<div class="section-scroll">
                    <a class="next-section" href="#section-separator-video"><span class="section-arrow"></span></a>
                </div>
			</section>
			<!-- End Contact Address -->
			
			
			
			<!-- Footer -->
            <footer id="footer">
            	<div class="container text-center">
                	<div class="row">
                        <div class="col-lg-12 footer-menu">
                            <span class="pull-left">Copyright © 2014 <a class="copyrights" href="#">Chinese Aviators Society</a>. All Rights Reserved.</span>
                            <span class="pull-right">
                                <a href="#home-content">Home</a>
                                <a href="#about">About</a>
              
								
                                <a href="#contact-adderss">Contact</a>
                                
                            </span>
                        </div>
        			</div>
                </div>
				<div id="scroll-container">
                    <a href="#home-content" class="scroll-top"><span id="scroll-arrow"></span></a>
                </div>
            </footer>
            <!-- End Footer -->
	
		</div>
        <!--End main wrapper-->

</div>	
      
	